.dock-tray {
	--dock-gap: 20px;
	--dock-inset: 24px;

	position: fixed;
	padding: var(--dock-inset);
	display: flex;
	flex-direction: column;
	gap: var(--dock-gap);
	z-index: var(--middle-layer);
}

.menu-tray {
	top: 0;
	left: 0;
	align-items: flex-start;
	justify-content: flex-start;
}

.dialog-tray {
	right: 0;
	bottom: 0;
	align-items: flex-end;
	justify-content: flex-end;
}
