:root {
	--button-size-lg: 32px;
	--button-icon-size-lg: 14px;
	--button-size-sm: 32px;
	--button-icon-size-sm: 14px;
}

.button {
	--button-size: 64px;
	--button-bg: var(--dark-color-2);
	--button-fg: var(--light-color-4);
	--button-shadow: 0 0 6px 3px var(--shadow-color);
	--button-shadow-hover: 0 0 8px 4px var(--shadow-color);
	--button-border: 1px solid var(--dark-color-4);
	--button-highlight: var(--dark-color-4);

	width: var(--button-size);
	height: var(--button-size);
	border-radius: 50%;
	background: var(--button-bg);
	color: var(--button-fg);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: var(--button-border);
	padding: 0;
	cursor: pointer;
	box-shadow: var(--button-shadow);
	transition: background 250ms ease, box-shadow 250ms ease, transform 250ms ease,
		opacity 250ms ease;
}

.button:hover {
	background: linear-gradient(var(--button-highlight), var(--button-highlight)), var(--button-bg);
	box-shadow: var(--button-shadow-hover);
}

.button:active {
	transform: translateY(1px);
}

