:root {
	--info-color: rgba(70, 160, 255, 1);
	--warn-color: rgba(242, 201, 76, 1);
	--error-color: rgba(255, 107, 107, 1);
	
	--color-primary: hsl(233, 37%, 17%);
	--color-primary-border: hsl(233, 18%, 21%);
  	--color-primary-highlight: hsl(233, 41%, 23%);
	--color-primary-shadow: hsla(233, 18%, 21%, 0.5);
	  
  	--color-secondary: hsl(38, 42%, 53%);
	--color-secondary-border: hsl(38, 18%, 21%);
  	--color-secondary-highlight: hsl(38, 41%, 59%);
	--color-secondary-shadow: hsla(37, 17%, 21%, 0.5);
	  
	--color-bg-main: hsl(216, 12%, 8%);
  	--color-bg-surface: hsl(213, 13%, 14%);

  	--color-text-primary: hsl(30, 39%, 93%);
  	--color-text-secondary: hsl(34, 7%, 63%);

	--font-size-lg: 23px;
	--font-size-md: 19px;
	--font-size-sm: 15px;

	--font-family-ui: "Inter", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	--font-family-mono: "Fira Code", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;

	--bottom-layer: 0;
	--middle-layer: 10;
	--top-layer: 20;
}

body {
	background: var(--color-bg-main);
	font-family: var(--font-family-ui);
	-webkit-font-smoothing: antialiased;
}
