* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #111;
	color: #eee;
	font-size: 20px;	
	font-family: system-ui, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#status,
#cameraSelect {
	margin: 20px;
}

#frame {
	position: relative;
	width: calc(100vw - 50px);
	height: calc(100vh - 50px);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	overflow: hidden;
	background: black;
	box-shadow: 0 20px 40px rgba(0,0,0,0.6);
}

#video {
	display: none;
}

#canvas {
	display: block;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}
