.button {
	--button-bg: var(--color-primary);
	--button-border: 1px solid var(--color-secondary-border);
	--button-fg: var(--color-secondary);
	--button-highlight: var(--color-primary-highlight);
	--button-shadow: 0 0 7px 3px var(--color-primary-shadow);
	--button-shadow-hover: 0 0 10px 5px var(--color-secondary-shadow);

	--button-icon-size: var(--button-icon-size-lg);
	--button-icon-size-lg: 22px;
	--button-icon-size-sm: 14px;

	--button-size: var(--button-size-lg);
	--button-size-lg: 64px;
	--button-size-sm: 32px;

	align-items: center;
	background: var(--button-bg);
	border: var(--button-border);
	border-radius: 50%;
	box-shadow: var(--button-shadow);
	color: var(--button-fg);
	cursor: pointer;
	display: inline-flex;
	height: var(--button-size);
	justify-content: center;
	padding: 0;
	transition: box-shadow 250ms ease;
	width: var(--button-size);
}

.button--hidden {
	opacity: 0;
	pointer-events: none;
}

.button:hover {
	background: var(--button-highlight);
	box-shadow: var(--button-shadow-hover);
}

.button:active {
	transform: translateY(1px);
}

.button__icon {
	display: inline-block;
	height: var(--button-icon-size);
	width: var(--button-icon-size);
}
.button__icon svg {
	display: block;
	height: 100%;
	width: 100%;
}

.button-small {
	--button-bg: var(--color-secondary);
	--button-border: 1px solid var(--color-primary-border);
	--button-fg: var(--color-primary);
	--button-highlight: var(--color-secondary-highlight);
	--button-icon-size: var(--button-icon-size-sm);
	--button-shadow: 0 0 7px 3px var(--color-secondary-shadow);
	--button-shadow-hover: 0 0 10px 5px var(--color-primary-shadow);
	--button-size: var(--button-size-sm);
}