.range {
	--range-disabled-opacity: 0.5;
	--range-output-gap: 4px;
	
	color: var(--light-color-4);
	cursor: default;
	display: contents;
	font-size: var(--font-size-text);
}

.range__label {
	grid-column: 1;
	text-align: right;
	text-transform: uppercase;
}

.range__input[type="range"] {
	accent-color: var(--info-color);
	border: 1px solid var(--dark-color-4);
	cursor: pointer;
	grid-column: 2;
	width: 100%;
	height: 20px;
}

.range__input:disabled {
	opacity: var(--range-disabled-opacity);
	cursor: not-allowed;
}

.range__output {
	display: inline-flex;
	font-family: var(--font-family-mono);
	gap: var(--range-output-gap);
	grid-column: 3;	
}

.range__unit {
	color: var(--light-color-1);
}
