.range {
	--range-height: 20px;

	--range-font-size: var(--font-size-sm);
	
	--range-disabled-opacity: 0.5;
	
	--range-thumb-background: var(--color-secondary);
	--range-thumb-border: 1px solid var(--color-primary-border);
	--range-thumb-shadow: 0 0 7px 3px var(--color-primary-shadow);
	--range-thumb-shadow-hover: 0 0 10px 5px var(--color-secondary-shadow);	
	--range-thumb-size: 20px;

	--range-track-background: var(--color-bg-surface);
	--range-track-progress-color: var(--color-primary);
	--range-track-progress-color-highlight: var(--color-primary-highlight);
	--range-track-border: 1px solid var(--color-secondary-border);
	--range-track-height: 14px;
	--range-track-shadow-hover: 0 0 10px 5px var(--color-primary-shadow);
	--range-track-radius: 7px;

	--range-output-gap: 4px;
	
	display: contents;
	font-size: var(--range-font-size);
}

.range__label {
	grid-column: 1;
	text-align: right;
	text-transform: uppercase;
}

.range__input[type="range"] {
	appearance: none;
	background-color: transparent;
	grid-column: 2;
	height: var(--range-height);
	width: 100%;
}


.range__input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: var(--range-thumb-background);
	border: var(--range-thumb-border);
	border-radius: 50%;
	box-shadow: var(--range-thumb-shadow);
	margin-top: calc(((var(--range-track-height) - var(--range-thumb-size)) / 2.0) - 1px);
  	height: var(--range-thumb-size);
  	width: var(--range-thumb-size);
	transition: background 250ms ease, box-shadow 250ms ease, transform 250ms ease,	opacity 250ms ease;
}

.range__input[type=range]::-moz-range-thumb {
	background: var(--range-thumb-background);
	border: var(--range-thumb-border);
	border-radius: 50%;
	box-shadow: var(--range-thumb-shadow);
	margin-top: calc(((var(--range-track-height) - var(--range-thumb-size)) / 2.0) - 1px);
  	height: var(--range-thumb-size);
  	width: var(--range-thumb-size);
	transition: background 250ms ease, box-shadow 250ms ease, transform 250ms ease,	opacity 250ms ease;
}

.range__input[type=range]::-webkit-slider-thumb:hover {
	box-shadow: var(--range-thumb-shadow-hover);
}

.range__input[type=range]::-moz-range-thumb:hover {
	box-shadow: var(--range-thumb-shadow-hover);
}


.range__input[type=range]::-webkit-slider-runnable-track {
  	background: linear-gradient(
		to right,
		var(--range-track-progress-color) 0%,
		var(--range-track-progress-color) var(--range-progress, 0%),
		var(--range-track-background) var(--range-progress, 0%),
		var(--range-track-background) 100%
	);
  	border: var(--range-track-border);
  	border-radius: var(--range-track-radius);
  	cursor: pointer;
  	height: var(--range-track-height);
	transition: box-shadow 250ms ease;
  	width: 100%;
}

.range__input[type=range]::-moz-range-track {
  	background: var(--range-track-background);
  	border: var(--range-track-border);
  	border-radius: var(--range-track-radius);
  	cursor: pointer;
  	height: var(--range-track-height);
	transition: box-shadow 250ms ease;
  	width: 100%;
}

.range__input[type=range]::-moz-range-progress {
	background: var(--range-track-progress-color);
	border-radius: var(--range-track-radius);
	height: var(--range-track-height);
}

.range__input[type=range]::-webkit-slider-runnable-track:hover {
	background: linear-gradient(
		to right,
		var(--range-track-progress-color-highlight) 0%,
		var(--range-track-progress-color-highlight) var(--range-progress, 0%),
		var(--range-track-background) var(--range-progress, 0%),
		var(--range-track-background) 100%
	);
	box-shadow: var(--range-track-shadow-hover);
}

.range__input[type=range]::-moz-range-track:hover {
	box-shadow: var(--range-track-shadow-hover);
}

.range__input[type=range]::-moz-range-progress:hover {
	background: var(--range-track-progress-color-highlight);
}


.range__input:disabled {
	opacity: var(--range-disabled-opacity);
	cursor: not-allowed;
}


.range__output {
	display: inline-flex;
	font-family: var(--font-family-mono);
	gap: var(--range-output-gap);
	grid-column: 3;	
}