.console {
	--console-item-gap: 3px;

	font-size: var(--font-size-sm);
	font-family: var(--font-family-mono);
}

.console__list {
	margin: calc(-1 * var(--dialog-content-inset));
	margin-top: 0;
	padding: 0 var(--dialog-content-inset) var(--dialog-content-inset);
	display: flex;
	flex-direction: column;
	gap: var(--console-item-gap);
}